
footer {
    background-color: #20c997;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    max-width: 50%;
}

footer div img {
    width: 100%;
    height: 100%;
}

footer h4 {
    color: #f8f9fa;
    font-size: 1.5rem;
    margin: 1rem auto;
}

footer p {
    color: #f8f9fa;
    font-size: 1rem;
    text-align: center;
}

footer .links ul {
    display: flex;
    list-style: none;
    gap: .5rem;
    margin: 1rem auto;
}

footer .links ul li {
    color: #f8f9fa;
    font-size: 1.1rem;
}

footer .links ul li:hover {
    opacity: .9;
    scale: 1.1;
    cursor: pointer;
}